<app-navbar-two></app-navbar-two>

<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Produtos</h2>

                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Produtos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="services-details-area ptb-100">
    <div class="container">

        <div class="services-details-overview">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="services-details-image">
                        <img src="assets/img/services-details/services-details2.jpg" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="services-details-desc">
                        <h3>{{produto[id].nome}}</h3>
                        <p>{{produto[id].descricao}}</p>

                        <div class="services-details-accordion">
                            <ul class="accordion">

                                <li class="accordion-item" *ngFor="let caracteristica of produto[id].caracteristicas">
                                    <a class="accordion-title " href="javascript:void(0)"><i class="fas fa-plus"></i> {{caracteristica.nome}}</a>
                                    <p class="accordion-content ">{{caracteristica.descricao}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="services-details-overview">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="services-details-desc">
                        <h3>{{produto[id].descricaoTitulo}}</h3>
                        <p>
                            {{produto[id].descricao2}}
                        </p>

                   
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="services-details-image">
                        <img src="assets/img/services-details/services-details1.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
