<app-navbar-two></app-navbar-two>

<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Sobre Nós</h2>

                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Sobre Nós</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="circulate-image">
                    <img src="assets/img/about.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content-area">
                    <span>Nossa essência
                    </span>
                    <h3>Oferecer soluções inovadoras e de alta qualidade </h3>
                    <p>sendo um porto seguro para os sonhos de nossos clientes. Buscamos estar presentes no dia a dia das pessoas, promovendo confiança, segurança e excelência em cada produto que entregamos. </p>
                    <p>sempre com foco na melhoria contínua e no fortalecimento das relações com nossos colaboradores e parceiros</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="what-we-do-section pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="we-do-content-area">
                    <span>O que nós fazemos
                    </span>
                    <h3>Somos a empresa que acompanha você em todos os momentos da vida</h3>
                    <p>Mais do que uma fornecedora de componentes industriais, a Ivantec é um ecossistema completo que transforma ideias em soluções práticas para o dia a dia. Com nossa experiência e dedicação, oferecemos produtos que atendem desde as necessidades cotidianas até os desafios mais complexos de diversos setores..</p>

                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="we-do-image">
                    <img src="assets/img/vector.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="saying-section ptb-100">
    <div class="container">
        <div class="saying-title">
            <h3>O que os clientes dizem sobre nós
            </h3>
            <p>Opiniões que refletem nossa dedicação</p>
        </div>

        <div class="saying-slides owl-carousel owl-theme">
            <div class="saying-single-item">
                <div class="saying-content-text">
                    <h3>Empresa Incrivel</h3>
                    <p>Desde o primeiro contato, fomos tratados com respeito e transparência. A Energygraf é uma empresa de confiança..</p>
                </div>
                <div class="saying-info">
                    <div class="say-image">
                        <img src="assets/img/say-image/say-img1.jpg" alt="image">
                    </div>
                    <h4>Ketax Andon</h4>
                    <span>Bussiness Solution</span>
                </div>
            </div>

            <div class="saying-single-item">
                <div class="saying-content-text">
                    <h3>Empresa Incrivel</h3>
                    <p>Qualidade impecável e entrega sempre dentro do prazo. Não poderíamos pedir um parceiro melhor.</p>
                </div>
                <div class="saying-info">
                    <div class="say-image">
                        <img src="assets/img/say-image/say-img2.jpg" alt="image">
                    </div>
                    <h4>Kolil Ward</h4>
                    <span>CEO Manager</span>
                </div>
            </div>

            <div class="saying-single-item">
                <div class="saying-content-text">
                    <h3>Empresa Incrivel</h3>
                    <p>Os produtos da Ivantec são confiáveis e duráveis, essenciais para nosso processo de produção. Recomendo!.</p>
                </div>
                <div class="saying-info">
                    <div class="say-image">
                        <img src="assets/img/say-image/say-img3.jpg" alt="image">
                    </div>
                    <h4>Jandhu Dew</h4>
                    <span>Marketing Manager</span>
                </div>
            </div>

            <div class="saying-single-item">
                <div class="saying-content-text">
                    <h3>Empresa Incrivel</h3>
                    <p>A Ivantec sempre entrega qualidade superior. Suas soluções personalizadas atendem perfeitamente às nossas necessidades.</p>
                </div>
                <div class="saying-info">
                    <div class="say-image">
                        <img src="assets/img/say-image/say-img4.jpg" alt="image">
                    </div>
                    <h4>Andon Smait</h4>
                    <span>Bussiness Solution</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team-section inner-team ptb-100">
    <div class="container">
        <div class="team-title">
            <span>Membros da nossa equipe
            </span>
            <h3>Executive Team Support</h3>
            <p>A equipe que faz a diferença todos os dias.</p>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="assets/img/team/team1.jpg" alt="image">
                    </div>

                    <div class="member-content">
                        <h3><a routerLink="/">Daniel</a></h3>
                        <span>Manager Logistic</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="assets/img/team/team2.jpg" alt="image">
                    </div>

                    <div class="member-content">
                        <h3><a routerLink="/">Ivan</a></h3>
                        <span>Scientist Ecology</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="assets/img/team/team3.jpg" alt="image">
                    </div>

                    <div class="member-content">
                        <h3><a routerLink="/">Alex</a></h3>
                        <span>Scientist Economic</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="assets/img/team/team4.jpg" alt="image">
                    </div>

                    <div class="member-content">
                        <h3><a routerLink="/">Mexwell</a></h3>
                        <span>Owner & CEO of Economic</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




