<div class="navbar-area">
    <div class="exto-responsive-nav">
        <div class="container">
            <div class="exto-responsive-menu">
                <div class="logo">
                    <a routerLink="/">
                        <!-- <img src="assets/img/logo/logo.png" alt="logo"> -->
                        Ivantec
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="exto-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/">
                    <!-- <img src="assets/img/logo/logo.png" alt="logo"> -->
                    Ivantec
                </a>

                <div class="collapse navbar-collapse mean-menu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Home</a>
                        </li>

                        <li class="nav-item"><a routerLink="/about" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Sobre Nós</a></li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Nosso Trabalho <i class="fa fa-angle-down"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/services" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Services</a></li>

                                <li class="nav-item"><a routerLink="/services-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Services Details</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Blog <i class="fa fa-angle-down"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/blog" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog</a></li>

                                <li class="nav-item"><a routerLink="/blog-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog Details</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a  routerLink="/contact" class="nav-link">Contato</a>
                        </li>

                    </ul>

                    <div class="others-options">
                        <div class="language-list">
                            <div class="select-box">
                                <select>
                                    <option>Eng</option>
                                    <option>USA</option>
                                    <option>Aus</option>
                                    <option>Fra</option>
                                </select>
                            </div>
                        </div>
<a class="saas-nav-btn" routerLink="/pricing">Solicite um Orçamento <i class="fa fa-arrow-right"></i></a>
                    </div>

                </div>
            </nav>
        </div>
    </div>
</div>
