<app-navbar-three></app-navbar-three>

<div class="startup-home-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="hero-content">
                            <span>Inovamos em Soluções Técnicas</span>
                            <h1>Concretize Seu Projeto com a <b>Ivantec</b></h1>
                            <p>Transforme seu projeto em realidade com soluções personalizadas da Ivantec. Solicite um orçamento hoje e descubra a diferença de trabalhar com excelência e qualidade! </p>

                            <div class="startup-btn">
                                <a routerLink="/" class="startup-btn-one">Obter uma cotação <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="startup-image">
                            <img src="assets/img/img-2.png" class="wow animate__animated animate__fadeInUp" data-wow-delay="0.6s" alt="image">
                        </div>
                    </div>

                    <div class="startup-shape">
                        <img src="assets/img/startup-home/startup-shape.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape-img1"><img src="assets/img/shape/shape1.svg" alt="image"></div>
    <div class="shape-img2"><img src="assets/img/shape/shape2.svg" alt="image"></div>
    <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="shape-img4"><img src="assets/img/shape/shape4.png" alt="image"></div>
    <div class="shape-img5"><img src="assets/img/shape/shape6.png" alt="image"></div>
</div>

<div class="partnar-two-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="appreciate">
                    <h3>Eles apreciam o trabalho da nossa empresa</h3>
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="partner-slider owl-carousel owl-theme">
                    <div class="partner-item">
                        <a href="#" class="d-block">
                            <img src="assets/img/partnar/e3m3.png" alt="partner">
                        </a>
                    </div>

                    <div class="partner-item">
                        <a href="#" class="d-block">
                            <img src="assets/img/partnar/partner-img7.png" alt="partner">
                        </a>
                    </div>

                    <div class="partner-item">
                        <a href="#" class="d-block">
                            <img src="assets/img/partnar/partner-img8.png" alt="partner">
                        </a>
                    </div>

                    <div class="partner-item">
                        <a href="#" class="d-block">
                            <img src="assets/img/partnar/partner-img9.png" alt="partner">
                        </a>
                    </div>

                    <div class="partner-item">
                        <a href="#" class="d-block">
                            <img src="assets/img/partnar/partner-img10.png" alt="partner">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="solutions-section ptb-100">
    <div class="container">
        <div class="solutions-title">
            <span>Sobre nos</span>
            <h3>Ivantec</h3>
            <p>
                A Ivantec é uma empresa especializada na fabricação de teclados de membrana e painéis em policarbonato, oferecendo soluções de alta qualidade
                para diversas indústrias. Com um compromisso sólido com a inovação e a excelência,
                a Ivantec se destaca por sua capacidade de desenvolver produtos personalizados que atendem às necessidades específicas de seus clientes.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="solutions-area-content">
                    <div class="icon">
                        <i class="flaticon-modules"></i>
                    </div>
                    <h3>EMPRESA</h3>
                    <p>Nossa empresa, destaca-se no mercado por sua modernidade. Produzimos teclados de membrana, painéis frontais em policarbonato,
                        circuitos impressos em prata condutiva e etiquetas.
                    </p>
                    <a routerLink="services-details">Ler mais</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="solutions-area-content">
                    <div class="icon">
                        <i class="flaticon-data"></i>
                    </div>
                    <h3>ALTA TECNOLOGIA</h3>
                    <p>Dispomos de tecnologia de ponta na produção dos nossos itens, contando com especialistas em serigrafia e equipamentos avançados de impressão</p>
                    <a routerLink="services-details">Ler mais</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="solutions-area-content">
                    <div class="icon">
                        <i class="flaticon-goal"></i>
                    </div>
                    <h3>COMPROMISSO</h3>
                    <p>Estamos dedicados a exceder as expectativas de nossos clientes. Nossa equipe, altamente capacitada, está preparada para oferecer o melhor atendimento possível.</p>
                    <a routerLink="services-details">Ler mais</a>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="about-section pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="circulate-image">
                    <img src="assets/img/funcionarios.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content-area">
                    <span>Nossa Historia</span>
                    <h3>Mais de 10 anos no mercado</h3>
                    <p>Desde sua fundação, a IvanTec é reconhecida pela sua maneira única de interação com colaboradores e clientes, enfatizando que seu
                         relacionamento saudável e transparente é a chave para alcançar excelentes resultados.
                    </p>

                    <p> Esta abordagem baseada na transparência e no respeito mútuo é um pilar fundamental da nossa cultura organizacional e acreditamos
                        firmemente que isso é essencial para o sucesso contínuo e a satisfação de todos os envolvidos.
                    </p>

                    <div class="about-btn">
                        <a routerLink="/about" class="about-btn-one">Conheça mais sobre nós <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="co-operative-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="co-operative-title">
                    <span>The Fame</span>
                    <h2>Co-operative tools for business administration</h2>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="co-operative-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusd tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>
                </div>
            </div>
        </div>

        <div class="co-operative-content">
            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"><i class="fas fa-play"></i></a>

            <h3>Perfect tools for business Organization</h3>
        </div>
    </div>
</section> -->

<section class="counter-area bg-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-facts">
                    <h3><span class="odometer" data-count="5890">00</span><span class="sign-icon">+</span></h3>
                    <p>Pedidos entregue</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-facts">
                    <h3><span class="odometer" data-count="100">00</span><span class="sign-icon">+</span></h3>
                    <p>Satisfação do cliente</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-facts">
                    <h3><span class="odometer" data-count="40">00</span><span class="sign-icon"></span></h3>
                    <p>Equipe de suporte especializado</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-facts">
                    <h3><span class="odometer" data-count="10">00</span><span class="sign-icon">k</span></h3>
                    <p>Projetos Desenvolvido</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="grow-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="grow-area-content">
                    <span>OS NOSSOS PRODUTOS</span>
                    <h3>Impressão Gráfica em Policarbonato</h3>
                    <p>
                        Processo de aplicação de gráficos em painéis de policarbonato, utilizados em uma variedade de produtos industriais e eletrônicos.
                    </p>

                    <div class="grow-btn">
                        <a routerLink="/" class="grow-btn-one">Saiba Mais <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="grow-image">
                    <img src="assets/img/products/products-img3.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="grow-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="grow-image">
                    <img src="assets/img/products/products-img1.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="grow-area-content">
                    <span>OS NOSSOS PRODUTOS</span>
                    <h3>Teclados Resistentes para Indústria</h3>
                    <p>
                        Teclados de membrana e outros tipos de teclados projetados para suportar condições adversas em ambientes industriais.
                    </p>

                    <div class="grow-btn">
                        <a routerLink="/" class="grow-btn-one">Saiba Mais <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="grow-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="grow-area-content">
                    <span>OS NOSSOS PRODUTOS</span>
                    <h3>Painéis de Policarbonato para Eletrônicos</h3>
                    <p>
                        Painéis de policarbonato usados em dispositivos eletrônicos, oferecendo durabilidade e clareza.
                    </p>

                    <div class="grow-btn">
                        <a routerLink="/" class="grow-btn-one">Saiba Mais <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="grow-image">
                    <img src="assets/img/products/products-img2.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="grow-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="grow-image">
                    <img src="assets/img/products/products-img4.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="grow-area-content">
                    <span>OS NOSSOS PRODUTOS</span>
                    <h3>Produção de Teclados Customizados</h3>
                    <p>
                        Serviços de design e fabricação de teclados personalizados para atender às necessidades específicas dos clientes.
                    </p>

                    <div class="grow-btn">
                        <a routerLink="/" class="grow-btn-one">Saiba Mais <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="blog-section startup-blog pt-100 pb-70">
    <div class="container">
        <div class="blog-title">
            <span>noticias</span>
            <h3>ÚLTIMOS ARTIGOS.</h3>
            <p>Confira aqui os artigos relacionados aos nossos produtos e a nossa empresa.</p>

            <div class="blog-btn">
                <a routerLink="/blog" class="blog-btn-one"> Ver Todos os Artigos <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/Painéis de Policarbonato.jpg" alt="image">
                        </a>
                    </div>

                    <div class="single-blog-item">
                        <div class="blog-content">
                            <a routerLink="/blog-details"><h3>Impressão em Silk Screen de Painéis de Policarbonato para Eletrônicos</h3></a>
                            <p> Uma Solução Durável e Personalizada para industria.</p>
                        </div>

                     <!--    <ul class="blog-list">
                            <li><a routerLink="/"><i class="flaticon-user"></i> Janathon Doe</a></li>
                            <li><i class="flaticon-appointment"></i> 03 January 2023</li>
                        </ul> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/digital-vs-silk.png" alt="image">
                        </a>
                    </div>

                    <div class="single-blog-item">
                        <div class="blog-content">
                            <a routerLink="/blog-details"><h3>Comparativo entre Impressão Silk Screen e Impressão Digital </h3></a>
                            <p>Qual é a Melhor para o seu Projeto? a escolha entre impressão silk screen (serigrafia) e impressão digital</p>
                        </div>

                        <!-- <ul class="blog-list">
                            <li><a routerLink="/"><i class="flaticon-user"></i> JKapler Done</a></li>
                            <li><i class="flaticon-appointment"></i> 03 January 2023</li>
                        </ul> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="blog-item">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/impressao-moderna-e-ecologica.png" alt="image">
                        </a>
                    </div>

                    <div class="single-blog-item">
                        <div class="blog-content">
                            <a routerLink="/blog-details"><h3>Sustentabilidade na Impressão Práticas Ecológicas </h3></a>
                            <p>A indústria de impressão enfrenta pressões crescentes para adotar práticas mais sustentáveis.</p>
                        </div>

                        <!-- <ul class="blog-list">
                            <li><a routerLink="/"><i class="flaticon-user"></i> Jandu Jon</a></li>
                            <li><i class="flaticon-appointment"></i> 03 January 2023</li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="job-opportunities ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Fale Conosco</span>
            <h3>Estamos sempre prontos para atendê-lo!</h3>
            <p>Se você tem dúvidas ou precisa de mais informações, não hesite em nos contatar. Nossa equipe está pronta para ajudá-lo com suas necessidades de impressão.</p>
        </div>

        <div class="grow-btn">
            <a routerLink="/contact" class="grow-btn-one">Chame em nosso whatsapp <i class="fa fa-arrow-right"></i></a>
            <a routerLink="#" class="grow-btn-two">Ligue para mais informações <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</section>
